.idea
.idea/*

.classpath
.settings/
.groovy/
.ijwb/

notes/*
notes/*.txt
notes/api-key.txt

# Bazel stuff
bazel-out
bazel-out/*.*
dist
dist/*.*

# Emacs save files
*~
\#*\#
.\#*

# Vim-related files
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist

# Crash & log files
crash.log
output.log

# Custom files to ignore
src/clients/gdn_client/key.go
