.idea
.idea/*

.classpath
.settings/
.groovy/
.ijwb/

notes/*
notes/*.txt
notes/api-key.txt

# Bazel stuff
bazel-out
bazel-out/*.*
dist
dist/*.*

# Emacs save files
*~
\#*\#
.\#*

# Vim-related files
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist

# Crash & log files
crash.log
output.log

# Generate proto bindings
# Docker needs them to build an image ... Really, better build with Bazel
# /proto/cmdb/*.pb.go
# /proto/cmx/*.pb.go
# /proto/imx/*.pb.go
# /proto/smdb/*.pb.go
# /proto/*/*.pb.go
